.inventory-homepage {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.search-filter-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input-wrapper {
  position: relative;
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: -1;
}

.category-filter select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.inventory-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  /* border-collapse: collapse; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.inventory-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.actions-cell {
  display: flex;
  gap: 10px;
}

.square-icon,
.delete-icon {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  max-width: 90%;
}
.modal-content h1{
  text-align: center;
  padding:1rem 0;
}
.sort-icon{
  margin-left: 8px;
  height:20px;
}
.modal-close {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.form-container {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
